<% include ./partials/header %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>

<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>







  <link href="css/dasdezine.css" rel="stylesheet">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-color navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="page-scroll">
                        <a href="/" style="color:yellow;">Procure-Me</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">




                    <div id="particles-js">
  <div class="container a">
    <div class="row top">
      <div class="twelve column">
        <h1>Terms and conditions.</h1>
    </br>
        <p>Acceptance of Terms
By using this site you will be deemed to have irrevocably agreed to these terms.
<br>
You will also be subject to any further terms and conditions, which may be presented as you navigate this site. These too will be binding on you. By using this site, you also accept the binding nature of any variations which we may issue whether you are specifically advised of these or not. You can obtain the latest set of terms by contacting us.
<br>
It is a condition of your use of this site that you provide such details as we request, and that these are accurate in all respects. We reserve the right to disallow your use of this site if the particulars provided are materially inaccurate, whether this is your fault or not.
<br>


Why do you need my mobile number when I set up an Into Film account?
We may need to contact you on your mobile if any notable problems arise with an Into Film event or service you have signed up to. (e.g. an Into Film Festival event you have booked or an Into Film Club you have set up).

<br>
Intellectual Property
The contents of this site have full intellectual property protection. This means that you cannot copy or make use of any item covered by such rights without the express permission of the owner of such rights. Details as to how to apply can be obtained by contacting us. In the absence of such permission, your right to copy or make use of any protected rights is limited to using such protected material solely for your own private use. In particular, you must not in any way seek to exploit or make use of your rights for any commercial purposes. To do so can lead to an injunction against you and a court award of damages.
<br>



If we do actively seek a submission, you must ensure that your submissions comply with all relevant laws and you are advised to seek legal advice in advance. If our use of your submission results in any liability to us, you agree to make good all losses we incur of whatever nature.
<br>
System Abuse
In its widest sense, you agree that you will in no way abuse the online system, whether by way of spamming or in any other way. You may not reproduce, sell, resell or otherwise exploit any resource, or access to any resource, contained on this site. You are also prohibited from, again in its widest sense, undertaking any action which compromises the security of this or any other site, or that of any other user.
<br>
Our Use of Content
If we make use of any content you provide to us, this will be subject to such terms as we may decide. Furthermore, you agree that you are fully liable for such content, and that you will make good to us, and fully indemnify us, for any loss or damage we may incur through the use of such material.
<br>
Third-Party Sites
We take no responsibility whatsoever for the content of any sites which may be linked to this site.
<br>
Proper Law
The law applicable in all matters in relation to this site is the law of England and Wales, whose courts will have the sole jurisdiction to hear and settle any dispute.
<br>
Claims of Infringement
If you believe that any content appearing on this site infringes your intellectual property rights, please forward get in touch in writing through our contact us form or by post to: Into Film, ?31 Islington Green, ?London?, N1 8DU.
<br>
Creative Commons
All downloadable resources on the Into Film website are licensed under a Creative Commons Attribution-Non Commercial-No Derivatives International 4.0 license. Under the terms of this license anyone is free to copy and redistribute the material for non-commercial use, provided they give attribution. If you remix, transform, or build upon the material, you may not distribute the modified material.
</p>
      </div>
    </div>



                </div>
            </div>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>


<style>
p
{
    color:white;
}
.a{
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}

canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}

a {
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #fc3565;
}

h1 {
  color: #FDD200;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

h2 {
  color: #555560;
  font-size: 3rem;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.logo {
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 4rem;
}

.top {
  padding-bottom: 5rem;
}

.pulled {}

.pulled ul li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.8rem;
}

.pulled h1 {
  color: white;
  font-size: 3rem;
}

.pulled ul li span{
  font-size:1.2rem;
}



.visit{
  color:white;
  font-size:12px;
  background:#32333a;;
  width:146px;
  padding:6px;
  border-radius:10px;
  position:fixed;
  right:20px;
}


/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
</style>

<style>


canvas {
  height: 100vh;
  z-index: -10;
  position: fixed;
  top: 0px;
}

a {
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: #fc3565;
}

h1 {
  color: #FDD200;
  padding-bottom: 0px;
  margin-bottom: 1%;
}


<style>
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700|Lato:400,700);

/****created and maintained  @dasdezine****/

body {
    overflow-x: hidden;
    color: #212121;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #fad663;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 20px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f197";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #212121;
}

hr.star-light:after {
    color: #212121;
    background-color: #FDD200;
}

hr.star-primary {
    border-color: #212121;
}

hr.star-primary:after {
    color: #212121;
    background-color: #fff;
}

.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #212121;
    background:     #2c3e50;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    padding-top: 20px;
    display: block;
    text-transform: uppercase;
    font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:1024px) {
    header {

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center 50px;
    }
    header .container {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    header img.img-bigScreen {
        display: none;
    }

    hr.star-light:after {
    background-color: #F7CC01;
}
}

@media(min-width:1366px) {
    header {
        background-position: center 10px;
    }
}


@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar-color {
    background-color: #212121;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar-default .navbar-toggle {
    border-color:#fdd200;
}

.navbar-default .navbar-toggle:hover {
    background-color:#fdd200;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#fff;
}

.navbar-default .navbar-nav>li>a {
    color:#fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fdd200;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
    color: #212121;
    background-color: #fdd200;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}



</style>
<% include ./partials/footer %>
